.gearBox {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}

.gearBox b {
    overflow: hidden;
    word-break: break-all;
}

.gearBox:focus {
    background-color: rebeccapurple;
}

.gearBox[gear-selected='true'] {
    border: 1px solid black;
}

.doneButton {
    background-color: aquamarine;
    overflow: hidden;
    object-fit: fill;
}

.doneButton:focus {
    background-color: rebeccapurple;
}

