.gearItem {
    background-color: aquamarine;
    object-fit: fill;
}

.gearItem:focus {
    background-color: rebeccapurple;
}

.gearItem[selected='true'] {
    border: 1px solid black;
}

.doneButton {
    background-color: aquamarine;
    overflow: hidden;
    object-fit: fill;
}

.doneButton:focus {
    background-color: rebeccapurple;
}

#gearList{
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}