.imageBox {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}

.imageBox b {  
    overflow: hidden;
    word-break: break-all;
    position:relative; 
    bottom: 0;
}

.imageBox p {
    height: 100%;
}

#tallyText {
    padding-top: 0;
    overflow-wrap: break-word;
    display: inline-block;
    
}

#inputNumberBox{
    grid-column: 1 / 2;
}

#numberText {
    overflow: visible;
}

.imageBox:focus {
    background-color: rebeccapurple;
}

.imageBox[image-selected='true'] {
    border: 1px solid black;
}

#fishCaughtView {
    overflow: visible;
}