.imageBox {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
}

.imageBox b {
    overflow: hidden;
    word-break: break-all;
}

.imageBox:focus {
    background-color: rebeccapurple;
}

.imageBox[image-selected='true'] {
    border: 1px solid black;
}


