/* Taken from Sample Vanilla KaiOS Project https://developer.kaiostech.com/docs/development/build-your-first-package-app/sample-code*/

* {
    box-sizing: border-box;
  }
  
  html,
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #E1E2E1 !important;
  }

  .root {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 90vh;
    /* background-color: #E1E2E1 !important; */
    /* height: 90%; */
    /* object-fit: fill; */
  }

  .inputArea {
    /* height: 90vh; */
    object-fit: fill;
  }
  /* .centered {
    display: block;
    position: relative;
  } */